.arrowIcon{
    float: left;
    background-color: var(--secondary-bg-color);
    margin-right: 10px;
    padding: 3px;
    margin-top: -3px;
}
.bread-title {
    font-size: 18px;
    line-height: 24px;
}
.gridStyle thead{
    background-color: var(--table-head)
}

table tr:nth-of-type(odd) {
    background-color: var(--table-odd-row);
}
table th {
    font-size: 14px;
    font-weight: bold;
}
table th , table td {
    vertical-align: middle;
    padding: 6px 10px;
    color:var(--table-default-text-color);
    font-size: 14px;
}
table td {    
    padding: 1px 10px;
}
tr.mat-footer-row, tr.mat-row, tr.mat-header-row {
    height: auto;
}

table-bordered td, table-bordered th {
    border: 1px solid var(--table-border-color);
}
.icon-wrap {
    display: block;
    text-align:center;
}
td.Active span {
    color:var(--success-bg-color);
}
td.In-Active span {
    color:var(--warning-bg-color);
}