<div class="row">
    <div class="col-12">
        <div class="table-responsive">            
            <ng2-smart-table [settings]="settings" [source]="data" (edit)="edit.emit(row)"
            (delete)="delete.emit(row)" (update)="update.emit(row)"></ng2-smart-table>
        </div>
    </div>
</div>