footer{
    background-color: var(--secondary-light-grey-color);
    border: 1px solid var(--secondary-grey-color);
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    color:var(--default-text-color);
    z-index: 9999;
}
