<div class="col-lg-12 pt-4">
      
            
    <div class="row m-0 w-100 pt-3">
        <div class="col-lg-12 px-0 pb-3">
            <div class="row">
                <div class="col-6 col-lg-6">
                    <h5 class="bread-title"> <span class="material-icons arrowIcon" routerLink="/">keyboard_arrow_left</span> Initiatives</h5>  
                </div>
                <div class="col-6 col-lg-6">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="float-right">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <span>Create New Initiative</span>
                    </button>
                    <button mat-menu-item>
                        <span>Choose From Templates</span>
                    </button>
                    </mat-menu>
                </div>
            </div>
        </div>
        
        
        <div class="col-lg-12 p-0">
            <app-data-table [gridUrl] = "url"></app-data-table>
        </div>
    </div>
    
</div>




