.navbar-dark .navbar-toggler {
    color: rgb(0 0 0 / 50%);
}
.profileSection .profileLetter{
    float: left;
    width: 25px;
    height: 25px;
    background-color: var(--success-bg-color);
    margin-right: 10px;    
    margin-top: -2px;
}
.profileSection .profileLetter span{
    padding: 3px 10px;
    font-size: 12px;
    color: var(--primary-bg-text-color);
}
.profileArea{
    position: relative;
}
.profileArea .dropdown-menu{
    font-size: 14px;
    right: 5px;
    width: 200px;
    left: auto;
    margin-top: 5px;
}
.profileArea a{
    float: left;
    color:var(--default-text-color);
}
.profileArea .profileIcons{
    padding-top: 10px;
    padding-right: 20px;
    position: relative;
    cursor: pointer;
}
.profileArea .profileIcons span{
    background-color: var(--warning-bg-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 15px;
    right: 18px;
    border-radius: 100%;
}
.profileArea .profileIcons img{
    width:16px;
}
.dropdown-menu  a{
    font-size: 14px;
}
nav {
    box-shadow: var(--box-shadow);
    font-size: 14px;
    width: 100%;
  }
  .navbar-dark .navbar-nav .nav-link {
    color:var(--default-text-color);
    cursor: pointer;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color:var(--primary-text-color);
}
nav ul li.active{
    border-bottom: 4px solid var(--primary-bg-color);
    margin-bottom: 0px;
}
nav ul li.active a{
    color:  var(--primary-text-color) !important;
    font-weight: 600;
}
nav ul li{
    margin-right: 20px;
}
.notificationSect{
    position: fixed;
    height: 100%;
    top: 57px;
    right: 0;
    box-shadow: var(--box-shadow1);
    padding: 15px;
    width: 350px;
    z-index: 1;
}
.notificationSect .progress{
    height: 5px;
    width: 75%;
    float: left;
}
.notificationSect .progress-bar{
    background: var(--info-bg-color);
}
.notificationSect i.close{
    position: absolute;
    right: 10px;
	top: 10px;
    cursor: pointer;
    font-size: 14px;
}
.progressSect span{
    font-size: 12px;
    float: right;
    margin: -5px 10px 0px 10px;
    color: var(--primary-grey-color);
    line-height: 12px;
    cursor:pointer;
}
.navbar-toggler{
    outline: none !important;
}
.profileArea .dropdown-toggle{
    background-color: var(--secondary-bg-color);
}
.close-icon {display: inline-block;float:right;cursor: pointer;}
@media (min-width: 767px){
    .mobileProfile{
        display: none;
    }
}
@media (max-width: 767px){
    .profileArea{
        display: none;
    }
   .logo{
        width:200px;
        padding-right: 15px !important;
        padding: 10px;
    }
    nav #collapsibleNavbar ul li.nav-item a{
        padding: 10px !important;
    }
     nav #collapsibleNavbar ul li.dropdown .dropdown-menu a{
        padding: 7px 10px !important;
    }
    #collapsibleNavbar ul li{
        margin: 0px;
    }
    #collapsibleNavbar ul li.dropdown .dropdown-menu{
        margin: 0px 10px !important;
        border: none;
    }
    .profileSection{
        float: right;
        padding-top: 0px !important;
    }
    .mobileProfile{
        padding: 0px 10px;
        margin-top: 10px;
        border-top: 1px solid var(--primary-light-grey-color);
        padding-top: 15px;
    }
    .mobileProfile a{
        padding-right: 10px;
    }
    .mobileProfile .dropdown-menu{
        position: absolute;
        right: 0;
        width: 200px;
        float: right;
        left: auto;
    }
    .notificationSect {
        top: 0px;
        width: 300px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 1000px)  {
    .logo{
        width:180px;
        padding-right: 15px !important;
    }
    #collapsibleNavbar ul li{
        margin-right: 5px;
    }
    #collapsibleNavbar ul li a{
        font-size: 12px;
    }
    .profileArea .profileIcons img {
        width: 13px;
    }
}