<nav aria-label="ICF CommentWorks Menu" class="navbar navbar-expand-md bg-white navbar-dark p-0 primaryBGcolor">
    <img src="../../assets/images/logo.png" alt="ICF CommentWorks" class="pr-5 logo" tabindex="0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="material-icons">
            menu
            </span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- Links -->
        <ul role="menubar" aria-label="ICF CommentWorks Menu" class="navbar-nav">
            <li class="nav-item active"  tabindex="1" routerLink="/" [ngClass]="{'active': menu==='menu1'}" (click)="onClick(1)"  tabindex="1">
                <a role="menuitem" class="nav-link py-3" >Dashboard</a>
            </li>
            <li class="nav-item" tabindex="2" routerLink="/initiatives" [ngClass]="{'active': menu==='menu2'}" (click)="onClick(2)"  tabindex="2">
                <a  role="menuitem"  class="nav-link  py-3" >Initiatives</a>
            </li>

            <!-- Dropdown -->
            <li  class="nav-item dropdown" tabindex="3">
                <a aria-haspopup="true"  aria-expanded="false" class="nav-link dropdown-toggle py-3" href="#" id="navbardrop" data-toggle="dropdown">
                    Templates
                </a>
                <div class="dropdown-menu p-0 font14" role="menu" aria-label="Templates">
                    <a role="menuitem"  class="dropdown-item py-2" href="">Issue Templates</a>
                    <a role="menuitem" class="dropdown-item py-2" href="">Initiative Templates</a>
                    <a role="menuitem"  class="dropdown-item py-2" href="">Lookup Templates</a>
                </div>
            </li>
            <li  class="nav-item" tabindex="4">
                <a role="menuitem"  class="nav-link py-3" href="#">Users</a>
            </li>
            <li  class="mobileProfile">
                <a aria-label="Notifications" tabindex="5" (click)=toggleNotification() class="profileIcons">
                    <img src="../../assets/images/notifications.png" />
                    <span></span>
                </a>
                <a aria-label="Font" tabindex="6" class="profileIcons">
                    <img src="../../assets/images/font.png" />
                </a>
                <a aria-label="Help" tabindex="7" class="profileIcons">
                    <img src="../../assets/images/help.png" />
                </a>
                <a aria-label="User Profile" tabindex="8" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle  profileSection"
                    id="navbardrop" data-toggle="dropdown">
                    <div class="profileLetter rounded-circle">
                        <span class="float-left">F</span>
                    </div>Firstname
                </a>
                <div class="dropdown-menu p-0" role="menu" aria-label="User Profile">
                    <a role="menuitem"  class="dropdown-item py-2" href="#">Change Password</a>
                    <a role="menuitem"  class="dropdown-item py-2" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="float-right profileArea">
        <a aria-label="Notifications"  tabindex="5" (click)=toggleNotification() class="profileIcons py-3">
            <img src="../../assets/images/notifications.png" />
            <span></span>
        </a>
        <a aria-label="Font" href="#"  tabindex="6" class="profileIcons py-3">
            <img src="../../assets/images/font.png" />
        </a>
        <a aria-label="Help" href="#"  tabindex="7" class="profileIcons py-3">
            <img src="../../assets/images/help.png" />
        </a>
        <a aria-label="User Profile"  tabindex="8" class="nav-link dropdown-toggle  profileSection py-3" href="#" id="navbardrop"
            data-toggle="dropdown">
            <div class="profileLetter rounded-circle">
                <span class="float-left">F</span>
            </div>Firstname
        </a>
        <div class="dropdown-menu p-0" role="menu" aria-label="User Profile">
            <a role="menuitem"  class="dropdown-item py-2" href="#">Change Password</a>
            <a role="menuitem"  class="dropdown-item py-2" href="#">Logout</a>
        </div>
    </div>
</nav>
<div class="notificationSect bg-white" [hidden]="isShowDiv" aria-labelledby="Notifications">
    <div class="row">
        <div class="col">
            <h2 class="font14 font-weight-bold pb-4 pt-2">Notifications</h2>
        </div>
        <div class="col">
            <span class="close-icon" (click)=toggleNotification()>
                <img src="../../assets/images/close.png" width="10" alt="close">
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 border-bottom pb-3">
            <h6 class="font12">Submission Report</h6>
            <p class="font12 txt-dark-grey">File Type - PDF</p>
            <div class="row">
                <div class="col-12 progressSect">
                    <div class="progress">
                        <div class="progress-bar" style="width:70%"></div>
                    </div>
                    <span>
                        <img src="../../assets/images/close-cancel.png" alt="cancel"> Cancel</span>
                </div>
            </div>

        </div>
        <div class="col-12 border-bottom py-3">
            <h6 class="font12">Index of Submissions Sorted by Submission number </h6>
            <p class="font12 txt-dark-grey">File Type - PDF</p>
            <div class="row">
                <div class="col-12 progressSect">
                    <div class="progress">
                        <div class="progress-bar" style="width:70%"></div>
                    </div>
                    <span>
                        <img src="../../assets/images/close-cancel.png" alt="cancel"> Cancel</span>
                </div>
            </div>
        </div>
        <div class="col-12 border-bottom py-3">
            <h6 class="font12">Counts of submission issues</h6>
            <p class="font12 mb-2 txt-dark-grey">File Type - Excel</p>
            <a class="font12 txt-primary" href="#">
                <img src="../../assets/images/download.jpg" alt="Download">Download</a>
        </div>
        <div class="col-12 border-bottom py-3">
            <h6 class="font12">Excel-based report</h6>
            <p class="font12 mb-2 txt-dark-grey">File Type - Excel</p>
            <a class="font12 txt-primary" href="#">
                <img src="../../assets/images/download.jpg" alt="Download">Download</a>
        </div>
    </div>
</div>