<div class="col-12 p-0">
    <h5 class="titleCard">My Dashboard</h5>
</div>
<div class="col-12">
    <div class="row m-0 ">
        <div class="col-12 gridTableSect gridTableTop40 rounded pt-3">
            <div class="row m-0 pb-2">
                <div class="col-12 py-3 px-0">
                    <div class="form-group">
                        <input type="text" class="form-control searchInit" placeholder="Search and Select initiatives">
                    </div>
                </div>
                <div class="col-6 px-0">
                    <h6 class="pt-2">Top initiatives</h6>
                </div>
                <div class="col-6 px-0">
                        <div class="form-group float-right gridSelectInput">
                            <select class="form-control" id="sel1">
                                <option>Last Week</option>  
                                <option>Last 2 Week</option>
                                <option>Last 1 month</option>
                                <option>Last 2 month</option>
                                <option>Last 6 month</option>
                            </select>
                            </div>
                </div>
            </div>
            <app-data-table [gridUrl] = "url"></app-data-table>
        </div>
    </div>
</div>

<div class="col-12 pt-4">
        <div class="row m-0 ">
            <div class="col-12 gridTableSect rounded pt-3">
                    <div class="row m-0 pb-2">
                            <div class="col-6 px-0">
                                <h6 class="pt-2">Initiatives List</h6>
                            </div>
                            <div class="col-6 px-0">
                                   <a routerLink="/initiatives" class="float-right font12" >View All</a>
                            </div>
                        </div>
                <app-data-table [gridUrl] = "url1"></app-data-table>
            </div>
        </div>
    </div>
