.titleCard{
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-text-color);
    padding: 30px 50px 70px 20px;
    font-size: 20px;
}
.gridTableSect{    
    background-color: white;
    box-shadow: var(--box-shadow);
}
.gridTableTop40{
    margin-top: -40px;
}
.gridSelectInput{
    width: 150px;
}
.gridSelectInput select{
    font-size: 14px;
}
.searchInit{
    font-size:14px;
    border:1px solid var(--input-liner);
    color: var(--input-liner);
}
.searchInit ::placeholder {
    color: var(--input-liner);
  }