/* You can add global styles to this file, and also import other style files */


:root {
--primary-bg-color: #00538B;
--primary-bg-text-color: #ffffff;
--primary-text-color: #00538B;
--secondary-bg-color: #F6F6F6;
--secondary-bg-text-color: #231F20;
--default-text-color:#000000;
--main-bg-color:#ffffff;

--success-bg-color:#69C14C;
--warning-bg-color:#EA4335;
--info-bg-color:#00A2E0;

--primary-grey-color:#768591; /* Notification Cancel color, File typr PDF color*/
--primary-light-grey-color:#e6e6e6; /* Mobile menu Border */
--secondary-grey-color:#DFDFDF; /* Footer Border */
--secondary-light-grey-color:#F2F2F2; /* Footer BG */

--box-shadow:0px 0px 5px #d8d8d8;
--box-shadow1:0px 4px 5px #bdbdbd;

--table-head: #E6E6E6;
--table-odd-row: #F8F8F8;
--table-default-text-color:#000000;
--table-light-text:#C9C9C9;
--table-border-color:#ebebeb;
--table-icon-color:#616161;
--table-pagination-light-grey:#E9E9E9;
--table-pagination-text-color:#383232;

--input-liner:#F5F5F5
}
/* common CSS */
body{
    font-family: 'Poppins', sans-serif !important; 
    font-size: 14px;
    color:var(--default-text-color) !important;
    margin: 0;
}
html, body { 
    height: 100%; 
}
.container{
    min-height: 650px;
}
 :focus {
     outline: none !important; 
} 
.txt-primary {
    color:var(--primary-bg-color);
}
.txt-dark-grey {
    color:var(--primary-grey-color);
}
.dropdown-item.active, .dropdown-item:active {
    background-color:var(--primary-bg-color) !important;
}
.dropdown-menu  a{
    color:var(--default-text-color);
}
.dropdown-item:focus, .dropdown-item:hover {
    background:var(--secondary-grey-color)  !important; 
}
table {
    color:var(--table-default-text-color);
    font-family: 'Poppins', sans-serif !important;
}
table thead tr {
    line-height: 20px;
}
table thead .ng2-smart-titles th {
    background-color: var(--table-head) !important;
}
table thead .ng2-smart-title a{
    color:var(--table-default-text-color) !important;
    font-weight: 600 !important;
    text-decoration: none !important;
}
table tr th.ng2-smart-th , table tr td {
    vertical-align: middle;
    padding: 7px 10px !important;
    color:var(--table-default-text-color);
    font-size: 14px;
}
table tr td {
	padding: 5px 10px !important;
}
table td {    
    padding: 1px 10px;
}
table thead {
    border:1px solid var(--table-border-color);
}
table tbody td {
    border:1px solid var(--table-border-color);
	    font-size: 12px !important;
}
table tbody tr:nth-child(even) {
    background:var(--table-odd-row);
}
table thead th:first-child, table tbody td:first-child {
	width:100px;text-align:center;
}
/* table thead th:first-child .form-control, table thead th:last-child .form-control{
	display:none;
} */
table thead th:last-child, table tbody td:last-child  {
	text-align:center;
}
.th-text-center .mat-sort-header-button {
    display: block !important;
    width: 100%  !important;
    padding-left: 15px;
}
table input.form-control {
    padding: 0px !important;
    height: auto;
    border: 0px;
	    font-size: 12px !important;
}
table input.form-control:focus {
outline:none;
box-shadow:none;
}
.ng2-smart-page-item a, .page-item .page-link {
    background: var(--table-pagination-light-grey) !important;
    border-radius: 4px;
    min-width:30px;
    min-height:30px;
    padding: 5px;
    text-align: center;
}
.ng2-smart-pagination li {
    margin-left: 6px;
}
table td:nth-child(2) {
color:var(--primary-text-color);
}
.page-item.disabled .page-link, .page-item .page-link {
    color:var(--table-pagination-text-color) !important;
}
.page-item.active .page-link {
    color: var(--primary-bg-text-color) !important;
    background-color: var(--primary-bg-color) !important;
    border-color: var(--primary-bg-color) !important;
}
.arrowIcon{
    float: left;
    background-color: var(--secondary-bg-color);
    margin-right: 10px;
    padding: 3px;
    margin-top: -3px;
    cursor: pointer;
}
.bread-title {
    font-size: 18px;
    line-height: 24px;
}
.warning-txt {
	color:var(--warning-bg-color);
}
.success-txt {
	color:var(--success-bg-color);
}
.page-item {
	width: 30px;
    height: 30px;
	overflow: hidden;
	    border-radius: 4px;
		border: 1px solid #dee2e6;
}
.page-link {
    padding: 6px 0px;
    text-align: center;
    font-size: 14px;
}
.page-item.active .page-link {
    height: 30px;
    width: 30px;
    border-radius: 4px;
	padding-top:6px;
}
.ng2-smart-page-item .page-link-prev, .ng2-smart-page-item .page-link-next {
	    padding: 5px  !important;
		 font-size: 16px  !important;
		 background-color: white !important;
		 background: white !important;
    border: 0px;
}
.page-item disabled .page-link-prev, .page-item disabled .page-link-next {	
		 background: white !important;
}
ng2-smart-table-pager {
	    float: right;
    margin-top: 30px;
}
.table-responsive .material-icons{
    color:var(--table-icon-color);
    cursor: pointer;
	font-size: 22px;
	    margin: 0 5px;
}
.table-responsive .material-icons:hover{
    color:var(--primary-text-color);
}
a.sort.asc:after, a.sort.desc:after {
    border-bottom-color: var(--default-text-color) !important;
    float: right;
    margin-top: 2px;
}
/* common CSS */
/* reusable class */
.font10{
    font-size: 10px
}
.font12{
    font-size: 12px
}
.font14{
    font-size: 14px;
}
.font16{
    font-size: 16px
}
.font18{
    font-size: 18px;
}
/* reusable class */

